                                                           # or if you already have some other page hosted on Github then use "https://[your GitHub username].github.io/[Your Repo Name]"


# Site Author - The following control what appear as part of the author content on the side bar.
#               If a field is blank the icon and link will not appear, otherwise it will be shown.
#               Additional customization can be done by editing /_includes/author-profile.html
author:
  # Biographic information
  avatar           : "EDB.png"
  name             : "Zongyao Zhao (赵宗耀)"
  pronouns         : # example: "she/her"  
  bio              : "Short biography"
  location         : "Hong Kong"
  employer         : "University of Hong Kong"
  uri              : # URL
  email            : "zongyao@hku.hk" 


  # Academic websites
  #academia         : # URL
  #arxiv            : # URL - Update with the correct link to your profile
  #googlescholar : "https://scholar.google.com/citations?user=zCVvx6EAAAAJ&hl=zh-CN"
  #inspire-hep      : # URL
  #impactstory      : # URL
  #orcid            : "https://orcid.org/yourorcidurl"
  #semantic         : # URL
  #ssrn             : # URL
  #pubmed           : "https://www.ncbi.nlm.nih.gov/pubmed/?term=john+snow"
  #researchgate     : # URL
  #scopus           : # URL
  #zotero           : # URL




  # Repositories and software development
  bitbucket        : # Username - Update with your username on the site
  codepen          : # Username
  dribbble         : # Username
  #github           : "academicpages"
  kaggle           : # Username  
  stackoverflow    : # User number or user number and name (i.e., use "1" or "1/jeff-atwood")    


  # Social media
  artstation       : # Username
  #bluesky          : "bsky.app" # Replace this with you Bluesky username
  facebook         : # Username
  flickr           : # Username
  foursquare       : # Username
  goodreads        : # Username
  google_plus      : # Username
  keybase          : # Username
  instagram        : # Username
  lastfm           : # Username
  linkedin         : # Username
  mastodon         : # URL
  medium           : # URL
  pinterest        : # Username
  soundcloud       : # Username
  steam            : # Username
  telegram         : # URL
  tumblr           : # Username
  twitter          : # Username for X / Twitter
  vine             : # Username
  weibo            : # Username
  wikipedia        : # Username
  xing             : # Username
  youtube          : # Username
  zhihu            : # Username


# Publication Category - The following the list of publication categories and their headings
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'


# Site Settings
teaser                   :  # filename of teaser fallback teaser image placed in /images/ for social media previews
breadcrumbs              : false # true, false (default)
words_per_minute         : 160
future                   : true
read_more                : "disabled" # if enabled, adds "Read more" links to excerpts
talkmap_link             : false      #change to true to add link to talkmap on talks page
comments:
  provider               : # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "custom"
  disqus:
    shortname            :
